body {
  max-width: 802px; /* chart width + border */
  margin: 8px auto;
  background-color: antiquewhite;
  font-family: sans-serif;
}

form {
  padding: 0.5em;
  font-size: 18px;
}

.field {
  padding-bottom: 0.5em;
}

.field > label {
  padding-right: 0.5em;
}

.field > .error {
  padding-left: 0.5em;
  color: darkred;
}

#separator {
  display: block;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

#cyChart {
  width: 800px;
  height: 600px;
  border: 1px solid black;
  background-color: white;
}

#loaderContainer {
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px;
  border-bottom-left-radius: 5px;
  background-color: #7fce63;
}

/* loader styles came from https://projects.lukehaas.me/css-loaders/ */
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  /*margin: 60px auto;  I don't like this style*/
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
